<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">

<body>
    <section class="section6">
        <footer class="footer">
            <logo class="ft-logo">
                <p>Architect </p>
            </logo>
            <p class="copyright">Copyright © vinayjha 2021 All rights reserved | Privacy Policy</p>
            <div class="social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>

        </footer>

    </section>

</body>

</html>