<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    {{> navbar}}
    <h2 style="text-align: center;">This is Blog page</h2>
    <div class="blog" style="height: 517px; margin-left:30px; margin-right:30px; margin-top:40px">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quibusdam dolore soluta! Ullam ad repudiandae
            aspernatur doloribus odio cum consectetur alias porro delectus, libero aliquam quod suscipit quas enim fugit
            reprehenderit atque nostrum, numquam accusamus aperiam totam obcaecati. Omnis aliquam eius aperiam dicta
            eveniet, quae esse, cupiditate, similique optio iure sed labore modi vitae! Sequi quidem quae ipsum, impedit
            sint quas possimus, illo veritatis minus deleniti iste quos voluptatem. Veniam sequi unde nobis rerum
            cupiditate quae, quos saepe necessitatibus nulla facere numquam dignissimos ratione quisquam aperiam
            corporis earum molestias tenetur possimus amet deleniti, similique non. Odio minus saepe tenetur ab.</p>
    </div>
    {{> footer}}

</body>

</html>