<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architect Desgin</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <header>
            <logo id="logo">Architect</logo>
            <button class="bar">
                <i class="fas fa-bars"></i>
            </button>
            <div class="nav">

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/pages">Pages</a></li>
                    <li><a href="/contact" target="_blank">Contact</a></li>
                </ul>
                <button class="close-btn"><i class="fas fa-times"></i></button>
            </div>
            <div class="content">
                <div class="slogan">
                    <h1>QUALITY IS NOT ONLY <br> OUR STANDARD.</h1>

                    <button class="cta">See Project</button>
                </div>


            </div>

            <div class="social-link">
                <ul>
                    <li><a href="#"><i style="color: #0072b1;" class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i style="color: #FD1D1D" class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i style="color: #1DA1F2" class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i style="color:  #128C7E" class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i style="color: #0072b1" class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="contact-no">
                <h5><a href="7703804588">+917703804588 </a></h5>
            </div>
        </header>

        <div class="main">
            <section class="section1">
                <div class="who">
                    <p>WHO ARE WE</p>
                    <h2>WE PROPOSE AND DISCUSS DESIGN RULES</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde suscipit quos delectus error
                        voluptate corporis similique cupiditate at saepe et odit? Atque iure vitae dolores soluta non ea
                        reprehenderit! Impedit odio
                        fugiat, rem ad sapiente.<br><br>
                        esse hic beatae praesentium voluptatibus possimus nihil in quasi! Consequuntur quis
                        sapiente numquam eum placeat architecto voluptatum repudiandae excepturi. Modi non adipisci
                        mollitia placeat asperiores eaque atque qui illo fugiat a id, similique incidunt ullam m
                        molestias repellat earum alias qui quos, eum quis!lorem20 </p>
                    <button class="btn">Learn More</button>
                </div>
                <div class="section1-img">
                    <img src="./img/section-1.jpg" alt="workjpg" height="600" width="460">
                </div>
            </section>

            <section class="section2">
                <div class="we-do">
                    <p>our Specialization</p>
                    <h2>WHAT WE DO</h2>
                </div>
                <div class="Specialization">
                    <div class="interior">
                        <img src="./img/interior-design.gif" width="60" alt="">

                        <H5 class="title">INTERIOR DESIGN</H5>
                        <p>As you might expect of a company that began as a high-end interiors contractor, we pay strict
                            attention.</p>

                    </div>
                    <div class="interior">
                        <img src="./img/office-design.gif" width="60" alt="">


                        <H5 class="title">OFFICE DESIGN</H5>
                        <p>As you might expect of a company that began as a high-end interiors contractor, we pay strict
                            attention.</p>

                    </div>
                    <div class="interior">
                        <img src="./img/home-design.gif" width="60" alt="">


                        <H5 class="title">HOME DESIGN</H5>
                        <p>As you might expect of a company that began as a high-end interiors contractor, we pay strict
                            attention.</p>

                    </div>
                    <div class="interior">
                        <img src="./img/design-drawing.gif" width="60" alt="">


                        <H5 class="title">DESIGN DRAWING</H5>
                        <p>As you might expect of a company that began as a high-end interiors contractor, we pay strict
                            attention.</p>

                    </div>
                </div>
            </section>

            <section class="section3">
                <div class="number">
                    <h4>85</h4>
                </div>
                <div class="text">
                    <P>PROJECTS <br>COMPLETED</P>
                </div>

                <div class="number">
                    <h4>127</h4>
                </div>
                <div class="text">
                    <P>HAAPY<br> CLIENTS</P>
                </div>

                <div class="number">
                    <h4>36</h4>
                </div>
                <div class="text">
                    <P>AWARDS<br> RECEIVED</P>
                </div>

                <div class="number">
                    <h4>74</h4>
                </div>
                <div class="text">
                    <P>CUPS OF<br> COFFEE</P>
                </div>
            </section>


            <section class="testimonials">
                <p>TESTIMONIALS</p>
                <h2>WHAT OUR CLIENTS SAY</h2>
                <div class="test-body">
                    <div class="item">
                        <img src="https://livedemo00.template-help.com/wt_prod-10943/images/testimonials-1-120x120.jpg">
                        <div class="name">Matthew Perkins</div>
                        <small class="desig">Driver</small>
                        <div class="share"><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i
                                class="fab fa-instagram"></i></div>
                        <p>Just had my laptop resurrected and the engineer was fantastic. Very patient, very
                            knowledgeable and knew exactly what he was doing. If I ever have another computer
                            problem, I'll definitely give these guys a call. They are professionals and they have
                            great customer service. Great price, great job, thanks a lot!</p>
                    </div>
                    <div class="item">
                        <img src="https://livedemo00.template-help.com/wt_prod-10943/images/testimonials-2-120x120.jpg">
                        <div class="name">Elizabeth Johnson</div>
                        <small class="desig">Real Estate agent</small>
                        <div class="share"><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i
                                class="fab fa-instagram"></i></div>
                        <p>My friend recommended Repair & Fix to me when I had some issues with my laptop. I
                            contacted them and they were very understanding, helpful and prompt with dealing with my
                            requirements. Your consultants were happy to talk me through everything during the first
                            consultation. Thank you!</p>
                    </div>
                    <div class="item">
                        <img src="https://livedemo00.template-help.com/wt_prod-10943/images/testimonials-3-120x120.jpg">
                        <div class="name">Walter Knight</div>
                        <small class="desig">Photographer</small>
                        <div class="share"><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i
                                class="fab fa-instagram"></i></div>
                        <p>I have worked with Repair & Fix for several years. They re-built a computer for me and
                            later upgraded it and now it feels just like a new one. The value, quality, and
                            follow-up are outstanding. I highly recommend this company, their professionalism and
                            customer care are unmatched.</p>
                    </div>
                </div>
                <button>View All Testimonials</button>
            </section>
            <section class="section5">
                <p>OUR TEAM</p>
                <h2>MEET OUR TEAM</h2>
                <div class="team">
                    <div class="card">
                        <img src="img/portrait-1.jpg" />
                        <div class="card-info">
                            <h6>alex smith</h6>
                            <span>graphic designer</span>
                            <div class="social-icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/portrait-3.jpg" />
                        <div class="card-info">
                            <h6>alex smith</h6>
                            <span>graphic designer</span>
                            <div class="social-icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/portrait-4.jpg" />
                        <div class="card-info">
                            <h6>alex smith</h6>
                            <span>graphic designer</span>
                            <div class="social-icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section6">
                <footer class="footer">
                    <logo class="ft-logo">
                        <p>Architect </p>
                    </logo>
                    <p class="copyright">Copyright © vinayjha 2021 All rights reserved | Privacy Policy</p>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>

                </footer>

            </section>

        </div>
    </div>
    <script src="./JavaScript/script.js"></script>
</body>

</html>